.o_tour_pointer_tip,
.o_tour_pointer_tip.position-absolute,
.o_tour_pointer_tip::before,
.o_tour_pointer_tip::after {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    border: 0 !important;
    content: none !important;
}



